    <!DOCTYPE html>
<html lang="pt"
		xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://thymeleaf.org">
<head>


</head>	
<body>	
<header>

	
		<nav>
			<div class="nav-wrapper light-blue darken-1">
			
				<a href="/" class="brand-logo"><img src="icons/logo.png"  style="width:5em ;heigth:5em;"></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="cadastrarUsuario" class="waves-effect  light-blue darken-3 btn"><i class="material-icons left">add_circle_outline</i>Cadastro de Usuários</a></li>
					<li><a href="listarUsuarios"class="waves-effect light-blue darken-3 btn"><i class="material-icons left">view_list</i>Listar Usuários</a></li>
					<li><a href="entrar">Entrar</a></li>
				</ul>
			</div>


		</nav>

	
	</header>
</body>						
</html>



	