
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Sefaz.Desafio</title>
<link rel="shortcut icon" href="/icons/favicon.ico"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="materialize/css/materialize.css" />
<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

<th:block th:include="header" />

<main>	
		<div class="titulo">
		<h4 >Bem Vindo!</h4>
		<h6>Projeto web implementado com:</h6>
		<ul class="">
		<li>SpringBoot</li>
		<li>Maven</li>
		<li>thymeleaf</li>
		<li>jquery</li>
		<li>JpaHibernate</li>
		<li> Hsqldb</li>
		</ul>
		
		</div>
</main>
<th:block th:include="footer" />
	
</body>


</html>